# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
# .vscode
# !.vscode/extensions.json
# !.vscode/settings.json

.env*
!.env.sample



/.vscode/settings.json
.cursor

agent.md
DS_Store
test-results
playwright-report
